<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Simple Cast</span>

    <span class="toolbar-spacer"></span>

    <mat-icon class="toolbar-icon">face</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<div class="wrapper">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Favorite food" value="Sushi">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-select placeholder="Favorite food" [(value)]="val">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{ food.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
  </form>
</div>