<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Simple Cast</span>
    <span class="toolbar-spacer"></span>
    <button *ngIf="!userAuthenticated" mat-button class="toolbar-right">Register</button>
    <button *ngIf="!userAuthenticated" mat-button class="toolbar-right" (click)="onLoginClicked()">Login</button>
    <button *ngIf="userAuthenticated" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>face</mat-icon>
    </button>
    <button *ngIf="userAuthenticated" mat-button class="toolbar-right" (click)="onLogoutClicked()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container (backdropClick)="close()">
  <mat-sidenav class="left-sidenav" #sidenav [mode]="sidenavMode" (keydown.escape)="close()" disableClose>
    <p>
      <button mat-button>Popular</button>
    </p>
    <p>
      <button mat-button>Recent Podcasts</button>
    </p>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Account Settings</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Disabled Placeholder</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Placeholder</span>
  </button>
</mat-menu>